div.glider-contain {
    margin-bottom: 20px;
}

img[alt="Upheaval Positioning"] {
    width: 150px;
}

img[alt="Spiny Plume Dome"],
img[alt="Ifrit Transition Updated"],
img[alt="Infernal Nails"],
img[alt="Runes"],
img[alt="Landslides"]
{
    width: 300px;
}

img[alt="Ifrit Eruptions for Nails"] {
    width: 500px;
}

img[alt="Sisters"],
img[alt="Mesohigh"] {
    width: 600px;
}

img[alt="Titan Upheaval Safe Spots"] {
    width: 625px;
}
