        <footer>
			{{ if and .Params.comments (gt (len .Site.DisqusShortname) 0) }}
            <figure class="article-discussion">
              {{ template "_internal/disqus.html" . }}
            </figure>
			{{ end }}
			<span>
			&copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> {{ .Site.Author.name }}; content originally by Clees, reproduced here with permission. {{ i18n "generator" | safeHTML }}
			</span>
		</footer>
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
        <script type="text/javascript" src="{{ "ultimates.guide.js" | relURL }}"></script>
